.filter-map-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  display: none;
  &.newpop {
    display: flex !important;
  }
  .filter-map-inner {
    width: 100%;
    .form-control {
      background-color: $bg-inputField;
      border-color: $boderClr;
      border-radius: 3px !important;
    }
    .filter-map-fill {
      .card-panel-fill {
        position: relative;
        @media (max-width: 991px) {
          height: 90vh;
          overflow-y: auto;
        }
        .close-btn {
          position: relative;
          text-align: right;
          margin-bottom: -20px;
          top: -15px;
          right: -11px;
          cursor: pointer;
          img {
            max-width: 20px;
            &:hover {
              filter: opacity(0.5);
            }
          }
        }
        h4 {
          color: $textClr;
        }
        hr {
          background-color: $boderClr;
        }
        .viewlead-inner-map {
          .form-group {
            label {
              color: $textClr;
            }
            .input-group {
              .form-control {
                background-color: $bg-inputField;
                border-color: $boderClr;
              }
            }
          }
        }

        @media (max-width: 500px) {
          .btn-min-w {
            min-width: 120px;
          }
        }
      }
    }
  }
}
