.profile-wrap {
  max-width: 700px;
  margin: auto;
  background: $bg-white;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  .profile-lead-title {
    background-color: $bg-lightgray;
    h5 {
      font-weight: 700;
      @media (max-width: 480px) {
        font-size: 17px;
      }
    }
  }
  .profile-inner {
    .profile-label p {
      font-weight: 600;
      @media (max-width: 991px) {
        font-size: 14px;
      }
      @media (max-width: 800px) {
        font-size: 13px;
      }
      @media (max-width: 575px) {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
    .profile-text p {
      @media (max-width: 991px) {
        font-size: 14px;
      }
      @media (max-width: 575px) {
        margin-bottom: 10px;
      }
    }
    @media (max-width: 575px) {
      border-bottom: 1px solid $bg-lightgray;
      &:last-child {
        margin-bottom: 0 !important;
        border-bottom: 0;
      }
    }
  }
  .profile-main-img {
    position: relative;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .circle {
      border-radius: 100% !important;
      overflow: hidden;
      width: 128px;
      height: 128px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      position: relative;
      @media (max-width: 767px) {
        width: 85px;
        height: 85px;
      }
      .profile-pic {
        width: 200px;
        max-height: 200px;
        display: inline-block;
        border: 1px solid $bg-lightgray;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 0px;
      }
    }
    .p-image {
      position: absolute;
      bottom: 15px;
      right: 5px;
      color: $bg-cyanred;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      .file-upload {
        display: none;
      }
      .upload-button {
        font-size: 1.2em;
        &:hover {
          transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          color: $bg-gray;
        }
      }
    }
  }
}
