$bg-blackshadow: rgba(0, 0, 0, 0.01);
$bg-fueslightgray: #fafdfb;
$primaryClr: #cd454e;
$bg-lightgray: #f5f5f5;
$bg-black: #000000;
$bg-white: #fffFFF;
$textClr: #757575;
$linkClr: #224abe;
$boderClr: #d1d3e2;
$bg-inputField: #eceff1;





